{% extends 'todo_app/base_todo_app.html' %}


{% block title%}
 Welcome Home
{% endblock%}

{% block content %}

<div class="align-items-center">
    <div align="center">
        <a href="{% url 'create_task_url' %}">
            <button>Create TODO</button>
        </a>
    </div>
</div>
<table>
    <tr>
        <th>ID</th>
        <th>Up</th>
        <th>Down</th>
        <th width="10%">Title</th>
        <th width="50%">Content</th>
        <th>Date</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    {% for task in data %}
    <tr>
        <td>{{ task.id }}</td>

        <td><a href="{% url 'up_task_url' task.id %}">Up</a></td>
        <td><a href="{% url 'down_task_url' task.id %}">Down</a></td>

        <td><b>{{ task.title }}</b></td>
        <td><i>{{ task.content }}</i></td>
        <td>{{ task.date|date:"d.m.Y H:i:s" }}</td>
        <td><a href="{% url 'edit_task_url' task.id %}">
            <button class="button button-outline">Update</button>
        </a></td>
        <td><a href="{% url 'delete_task_url' task.id %}">
            <button class="button button-outline">Delete</button>
        </a></td>
    </tr>
    {% endfor %}
</table>


{% endblock %}

