{% extends 'todo_app/base_todo_app.html' %}


{% block title%}
 Welcome Home
{% endblock%}

{% block content %}

<div>
    <div align="center">
        <a href="{% url 'create_task_url' %}">
            <button>Create TODO</button>
        </a>
        <form action="{% url 'filter_by_priority_url' %}" method="post">
            {% csrf_token %}
            <select name="filter_by_priority" id="select">
                <option value="high">high</option>
                <option value="mid">mid</option>
                <option value="low">low</option>
            </select><br>
            <input type="submit" value="Filter todos" class="button button-outline">
        </form>
    </div>
</div>
<table>
    <tr>
        <th></th>

        <th width="4%"></th>
        <th width="4%"></th>
        <th></th>

        <th width="50%"></th>


    </tr>

    {% for task in data %}

    <tr>

        {% if task.is_done %}

        <td style="color: green;" align="center">
        <a href="{% url 'mark_done_url' task.id %}"><button class="button button-outline" style="color: green">Done! mark unDone</button></a>
        </td>

        {% else %}

        <td><a href="{% url 'mark_done_url' task.id %}"><button class="button button-clear">mark Done</button></a></td>

        {% endif %}

        <td><a href="{% url 'up_task_url' task.id %}"><img src="/media/arr.png" alt="up"></a></td>
        <td><a href="{% url 'down_task_url' task.id %}"><img src="/media/arrdown.png" alt="down"></a></td>

        {% if task.priority == 'high' %}

        <td style="background-color: limegreen" class="gradient"></td>

        {% elif task.priority == 'mid' %}

        <td style="background-color: lightcoral" class="gradient"></td>

        {% else %}

        <td style="background-color:yellow" class="gradient"></td>

        {% endif %}

        <td><b>{{ task.content }}</b></td>
        <td>
            <a href="{% url 'edit_task_url' task.id %}">
            <button class="button button-outline">Update</button>
            </a>
        </td>
        <td>
            <a href="{% url 'delete_task_url' task.id %}">
            <button class="button button-outline">Delete</button>
            </a>
        </td>
    </tr>

    {% endfor %}

</table>


{% endblock %}

