{% extends 'todo_app/base_todo_app.html' %}


{% block title%}
 Welcome Home
{% endblock%}

{% block content %}

<div class="align-items-center">
    <div align="center">
        <a href="{% url 'create_task_url' %}">
            <button>Create TODO</button>
        </a>
    </div>
</div>
<table>
    <tr>
        <th></th>

        <th width="4%"></th>
        <th width="4%"></th>
        <th>Priority</th>
        <th width="50%">Content</th>

        <th>Update</th>
        <th>Delete</th>
    </tr>

    {% for task in data %}

    <tr>
        {% if task.is_done %}
        <td style="color: green" align="center">
        <a href="{% url 'mark_done_url' task.id %}"><button class="button button-outline" style="color: green">Done! mark unDone</button></a>
        </td>
        {% else %}
        <td><a href="{% url 'mark_done_url' task.id %}"><button class="button button-clear">mark Done</button></a></td>
        {% endif %}

        <td><a href="{% url 'up_task_url' task.id %}"><img src="/media/up.png" alt="up"></a></td>
        <td><a href="{% url 'down_task_url' task.id %}"><img src="/media/down.png" alt="down"></a></td>
        {% if task.priority == 'high' %}
        <td style="background-color: limegreen" class="gradient">
            <a href="{% url 'set_priority_high_url' task.id %}" style="font-family:'Noto Sans CJK KR Regular'">high</a><br>
            <a href="{% url 'set_priority_medium_url' task.id %}">medium</a><br>
            <a href="{% url 'set_priority_low_url' task.id %}">low</a>
        </td>
        {% elif task.priority == 'medium' %}
        <td style="background-color: lightcoral" class="gradient">
            <a href="{% url 'set_priority_high_url' task.id %}">high</a><br>
            <a href="{% url 'set_priority_medium_url' task.id %}">medium</a><br>
            <a href="{% url 'set_priority_low_url' task.id %}">low</a>
        </td>
        {% else %}
        <td style="background-color:yellow" class="gradient">
            <a href="{% url 'set_priority_high_url' task.id %}">high</a><br>
            <a href="{% url 'set_priority_medium_url' task.id %}">medium</a><br>
            <a href="{% url 'set_priority_low_url' task.id %}">low</a>
        </td>
        {% endif %}
        <td><i>{{ task.content }}</i></td>
        <td>
            <a href="{% url 'edit_task_url' task.id %}">
            <button class="button button-outline">Update</button>
            </a>
        </td>
        <td>
            <a href="{% url 'delete_task_url' task.id %}">
            <button class="button button-outline">Delete</button>
            </a>
        </td>
    </tr>

    {% endfor %}
</table>

{% endblock %}

